<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess!</p>
    {% if high %}
        <div class="high">
            <h1>Too High!</h1>
        </div>
    {% elif low %}
        <div class="low">
            <h1>Too Low!</h1>
        </div>
    {% elif correct %}
        <div class="correct">
            <h1>{{ answer }} Was the Number! You Win!</h1>
            <form action="play_again" method="POST" id="again">
                {% csrf_token %}
                <button type="submit">Play Again!</button>
            </form>
        </div>
    {% endif %}
    <form action="/guess" method="POST" id="guess">
        {% csrf_token %}
        <input type="number" name="guess">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>